.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 10px;
  width: 80vw;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

img.hidden {
  
}


